<div class="mt-4">
    <form>
        <div class="form-group">
            <label for="search-input">Keywords</label>
            <input type="text" name="q" class="form-control mt-3" id="search-input" placeholder="Enter keywords...">
        </div>
        <button type="submit" class="btn btn-primary mt-3">Search</button>
    </form>
</div>